<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style></style>
</head>
<body>
<u></u>

<div style="margin: 0; padding: 0">
    <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            bgcolor="#ffffff"
    >
        <tbody>
        <tr>
            <td>
                <table
                        align="center"
                        border="1"
                        cellpadding="0"
                        cellspacing="0"
                        width="600"
                        style="border-collapse: collapse; border-color: #cccccc"
                >
                    <tbody>
                    <tr>
                        <td
                                align="center"
                                bgcolor="#D50B5B"
                                style="padding: 20px 0px 20px 0px; border-color: #ccc"
                        >
                            <p
                                    style="
                          color: #fff;
                          text-align: center;
                          font-family: 'Roboto';
                          font-size: 36px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: normal;
                          letter-spacing: 0.25px;
                          margin: 0;
                        "
                            >
                                Carga tu CV
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td
                                align="left"
                                bgcolor="#ffffff"
                                style="
                        padding: 10px 20px 20px 20px;
                        border-color: #ccc;
                        font-size: 16px;
                        color: #666;
                        font-family: Arial, san serif;
                        font-weight: normal;
                        line-height: 1.3em;
                      "
                        >
                            <h1
                                    style="
                          color: #1081b5;
                          font-size: 1.2em;
                          margin: 20px 0px;
                        "
                            >
                        <span
                                style="
                            border-radius: 8px;
                            background: #82cfe8;
                            padding: 8px 12px;
                            color: #055180;
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                          "
                        >Actualización email</span
                        >
                            </h1>
                            <p style="margin-bottom: 24px">
                                Hola
                                <span style="color: #1081b5">$Apellido, $Nombre</span>
                            </p>
                            <p>
                            <p>Hemos actualizado el email de tu cuenta con la siguiente casilla: <a style="color: #1081b5">$Email</a></p>
                            </h1>
                            <p style="
                      margin-top: -8px;
                      color: #A8A8A8;
                      font-family: Inter;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 24px; /* 200% */">

                                Este mensaje se generó automáticamente. Por favor no
                                responder.

                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                                align="center"
                                bgcolor="#ffffff"
                                style="padding: 20px 0px 20px 0px"
                        >
                            <img
                                    src="https://ci6.googleusercontent.com/proxy/LxbslZygQ8KdGMU8brByonkflIwX1MLy337Sbktwbu8yAwGs2ac5Qj8ByeGSmEkne-v_kSo9teZICk48dmI_owqG9t27dQ-OOxjpxKGfu_JD_xV4CPnJ9E5a18p4p1M=s0-d-e1-ft#https://red.amr.org.ar/wp-content/uploads/sites/3/2021/05/LogoREDAMR2020.png"
                                    alt="Red AMR"
                                    width="150px"
                                    style="display: block"
                            />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
